body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: center;
}

nav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  height: 80px;
  align-items: center;
}
.greeting {
  color: white;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 18px;
}

.container {
  max-width: 480px;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 10%;
}

.input-wrapper {
  margin-bottom: 1rem;
  color: #080808;
  display: block;
  font-weight: bold;
}

.input-wrapper input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #174f80;
  border-radius: 4px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #4ba115;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #747272;
  height: 50px;
  width: 100%;
}
.Home-card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.hotel-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(19, 19, 19, 0.1);
  text-align: center;
}
.hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.img-wrapper {
  width: 100%;
  height: 250px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.img-room {
  width: 50%;
  height: 250px;
}

.img-room img {
  width: 50%;
  height: 50%;
  border-radius: 3px;
}

.info-wrapper {
  padding: 16px;
}

.info-wrapper h3 {
  margin: 5px;
}

.info-wrapper p {
  margin: 0;
  font-size: 13px;
}
.link {
  text-decoration: none;
  color: black;
}
.Room-card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.room-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(19, 19, 19, 0.1);
}
.rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.room-text {
  text-align: center;
}
.room-detail {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.room-detail img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.room-detail h3 {
  margin: 10px 0;
  font-size: 25px;
  color: #000000;
}

.room-detail h4 {
  margin: 8px 0;
  font-size: 20px;
  color: #000000;
}

.room-detail h5 {
  margin: 6px 0;
  font-size: 20px;
  color: 000000;
}

.reservation-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(19, 19, 19, 0.205);
  width: 75%;
  margin: 2% auto;
  display: flex;
}

.btn {
  margin: 3%;
}

.btn-review {
  background-color: #065168;
}

.btn-delete {
  background-color: #681106;
}

.btn-edit {
  background-color: #595f09;
}

.check-in {
  color: #065520;
}

.check-out {
  color: #8f0a0a;
}

.reservation-img {
  width: 90%;
  height: 90%;
}

.row {
  display: inline-flex;
}

.col {
  width: 100%;
  text-align: center;
}
.unavailable {
  width: 300px;
  height: 100px;
  align-items: center;
  margin-left: 100px;
  justify-content: center;
  display: flex;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(19, 19, 19, 0.1);
}
.room-data {
  max-width: 50%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
}
.container2 {
  max-width: 51%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
}
.submit {
  margin-top: 10px;
}
.checkout {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.flex-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.data-room {
  max-width: 39%;
  margin-left: 70px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
}
.yes {
  margin-bottom: 10px;
}
.buttons {
  margin: 2px;
}
.edit-bold {
  font-weight: bold;
}
.container3 {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 6%;
}
.register {
  text-align: center;
}
.centered {
  align-items: center;
}

.reservation-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-content {
  display: flex;
  align-items: center;
}

.reservation-img-container {
  height: 150px;
  margin-right: 20px;
  flex: 0 0 150px;
}

.reservation-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.reservation-details {
  flex: 1;
  padding: 0 20px;
}

.check-in,
.check-out {
  margin: 10px 0;
}

.reservation-buttons {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reservation-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-edit {
  background-color: #595f09;
  color: #fff;
}

.btn-delete {
  background-color: #681106;
  color: #fff;
}

.btn-review {
  background-color: #065168;
  color: #fff;
}
.cenr {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container4 {
  text-align: center;
  max-width: 500px;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 7%;
}
